{% extends 'layout.html' %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">MakeItTiny</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
          <a class="nav-link" href="/urls">URLs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/stats">Stats</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" style="color:#00cccc" href="/about">About</a>
      </li>
    </ul>
  </div>
  <form class="form-inline">
    <input name = "find" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-info" type="submit"><em style="font-size:24px;color:#00cccc" class="fa">&#xf002;</em></button>
  </form>
</nav>

    <br>
    <h1>About</h1>
    <br>
    <h3>Who We Are</h3>
    <p>We are university students at UFM that are really into technology and making everything easier for you. That's why we are currently studying Computer Science. As a matter of fact, this web page was assigned to us as our final project for the second semester in course. We hope you enjoy and find this web page useful, as that was our main motivation for it to be like it currently is.</p>
    <h3>Developers</h3>
    <p> Jose Alejandro Reyes</p>
    <p> Marcela Melgar</p>
    <h3>Contact Us!</h3>
    <p>As we are still learning, we would appreciate any kind of feedback you could give us.</p>

    <form>
        <div class="form-group">
          <label for="exampleFormControlInput1">Name</label>
          <input type="name" class="form-control" id="feedbackname" placeholder="Enter Name">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Email address</label>
            <input type="email" class="form-control" id="feedbackemail" placeholder="Enter Email">
          </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Let us know what you think!</label>
          <textarea class="form-control" id="feedback" rows="3"></textarea>
        </div>
        <a class="btn btn-info btn-lg" href="/thanks" role="button">Send</a>
        <br>
        <br>
    </form>
{% endblock %}
