{% extends 'layout.html' %}

{% block body %}
<br>
<h1>Results</h1>
<br>
<div class="card text-center">
    <center>
    <div class="card text-white bg-dark" style="max-width: 30rem;">
        <div class="card-header" style = "color:#00cccc">
        Your tiny link
        </div>
        <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <p class="card-text">{{info[url]}}</p>
        <a href="/{{name}}" class="btn btn-info">Go to link</a>
        </div>
        <div class="card-footer text-muted">
        {{info[time]}}
        </div>
    </div>  
    </center>
</div>
<br>
<br>
{% endblock %}
