{% extends 'layout.html' %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" style="color:#00cccc" href="/">MakeItTiny</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/urls">URLs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/stats">Stats</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
      </ul>
    </div>
    <form class="form-inline">
      <input name = "find" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-info" type="submit"><em style="font-size:24px;color:#00cccc" class="fa">&#xf002;</em></button>
    </form>
  </nav>

    <br>
    <h1>Tiny URL</h1>
    <br>
    <form>
        <div class="form-group">
            <form>
                <div class="form-group">
                    <label for="inputURL">Enter a large URL to make it tiny</label>
                    <input name = "url" type="text" class="form-control" id = "inputURL" placeholder="Enter the URL">
                    <br>
                    <label for="inputCostumeURL" style="font-weight: bold;">Costume URL (optional)</label>
                    <div class="form-group row">
                        <br>
                        <label for="costumeURL" class="col-sm-2 col-form-label">http://makeItTiny.com/</label>
                        <div class="col-sm-10">
                            <input name = "optional" type="text" class="form-control" id="costumeURL" placeholder="Enter word">
                        </div>
                    </div>
                </div>
                <br>
                <button type="submit" class="btn btn-info btn-lg" style = "display: block; margin-left: auto; margin-right: auto">Generate</button>
            </form>
        </div>                
        <br>
    </form>
{% endblock %}
