{% extends 'layout.html' %}

{% block body %}

    <script>
        function getIndex() {

        }
    </script>
    <div class="topnav">
        <a href="/">MakeItTiny</a>
        <a class="active" href="/urls">URLs</a>
        <a href="/stats">Stats</a>
        <a href="/about">About</a>
    </div>

    <br>
    <h1>Your URLs</h1>
    <br>
    <div class = "table-responsive">
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th scope = "col">Original</th>
                    <th scope = "col">Tiny</th>
                </tr>
            </thead>
            <tbody>
                {% for key, value in links.items(): %}
                <tr>
                    <th scope = "col">{{domain + key}}</th>
                    <th scope = "col2">{{value}}</th>
                    <th scope = "col3"> 
                        <form method = "POST">
                            <button name = "remove" type="submit" class="btn btn-outline-danger" value = "{{key}}">Remove</button>
                        </form>
                    </th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
    </div>
    
{% endblock %}