{% extends 'layout.html' %}

{% block body %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">MakeItTiny</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" style="color:#00cccc" href="/urls">URLs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/stats">Stats</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
      </ul>
    </div>
    <form class="form-inline">
      <input name = "find" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-info" type="submit"><em style="font-size:24px;color:#00cccc" class="fa">&#xf002;</em></button>
    </form>
  </nav>

    <br>
    <h1>Your URLs</h1>
    <br>
    <div class = "table-responsive">
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th scope = "col">Tiny</th>
                    <th scope = "col">Original</th>
                    <th scope = "col">Date</th>
                </tr>
            </thead>
            <tbody>
                {% for key, value in links.items(): %}
                <tr>
                    <th scope = "col">{{domain + key}}</th>
                    <th scope = "col2">{{value[url]}}</th>
                    <th scope = "col3">{{value[time]}}</th>
                    <th scope = "col4"> 
                        <form method = "POST">
                            <button name = "remove" type="submit" class="btn btn-outline-danger" value = "{{key}}">Remove</button>
                        </form>
                    </th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
    </div>
    
{% endblock %}
